@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Yeseva+One&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.activeNav {
  color: #BFD2F8;
}

.activeHidden {
  font-weight: bold;
  display: none;
}

.activePoint {
  background-color: #1F2B6C;
}